body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: justify;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 20px;
}

.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1em;
}

#content {
  margin-top: 2em;
}

#estructura {
  margin-top: 2em;
  
}

footer {
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 0.8em;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: left;
  padding: 1em;
  align-items: center;
}

#logo img {
  max-height: 100px;
}

nav {
  display: flex;
  flex-direction: column;
}

nav > label {
  font-size: 2em;
  cursor: pointer;
  display: block;
}

#chkMenu {
  display: none;
}

#menu {
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s;
}
#menu > li {
  margin-top: 0.8em;
  border-bottom: 1px dotted #5d5d5d;
}
#menu > li > a {
  text-decoration: none;
  color: #000;
}


#chkMenu:checked ~ #menu {
  max-height: 10em;
}

#DivIntro {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#DivIntro img {
  max-height: 150px;
  margin-right: 1em;
}

#intro {
  max-width: 500px;
  margin-top: 1em;
  font-size: 1.3em;
}

/* Estilos para pantallas grandes */
@media (min-width: 560px) {
  .container {
    width: 1200px;
  }

  header {
    align-items: center;
  }

  nav > label {
    display: none;
  }

  #menu {
    display: flex;
    max-height: none;
    padding-top: 0.5em;
  }

  #menu > li {
    display: inline-block;
    padding: 0 1em;
    border: none;
    border: 1px black;
    border-style: dotted dotted none none;
    
    background-color: rgba(111, 108, 108, 0.139);
  }

  #menu > li:last-child {
    border: 1px #5d5d5d;
    border-style: dotted none none none;
  }

  .container {
    margin-left: auto;
    margin-right: auto;
  }

  #banner {
    position: relative;
    width: 100%;
  }

  #banner img {
    max-height: 125px;
    width: 100%;
    display: block;
  }
  #banner h1 {
    position: absolute;
    top: -16%;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    color: white;
    font-size: 1.9em;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
  }
}
