html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
html {
  overflow-y: scroll;
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: justify;
  font-size: 14px;
  line-height: 20px;
  color: #333;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

.content {
  margin-top: 2em;
}

footer {
  text-align: center;
  position: relative;
  width: 100%;
  font-size: 0.8em;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: left;
  padding-left: 1em;
  padding-right: 1em;
  align-items: center;
}

#logo img {
  max-height: 100px;
}

nav {
  display: flex;
  flex-direction: column;
}

nav > label {
  font-size: 2em;
  cursor: pointer;
  display: block;
}

#chkMenu {
  display: none;
}

#menu {
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s;
}
#menu > li {
  margin-top: 0.8em;
  border-bottom: 1px dotted #5d5d5d;
  padding: 0.3em;
}
#menu > li > a {
  text-decoration: none;
  color: #000;
}
#chkMenu:checked ~ #menu {
  max-height: 20em;
  width: 100%;
  text-align: left;
}


#banner {
  position: relative;
  width: 100%;
  overflow: hidden;
}
#banner img {
  max-height: 125px;
  display: block;
  overflow: hidden;
}
#banner h1 {
  position: absolute;
  top: -13%;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
  font-size: 24px;
  font-variant: small-caps;
  text-shadow: 0 0 3px rgb(79, 75, 81), 3px 3px 5px #000;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
}


#conocenos {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
}
#conocenos div {
  padding: 0.2em 2em;
}
#conocenos img {
  max-height: 220px;
  margin-top: 1em;
  margin-bottom: 1em;
}


#objetivos {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
}
#objetivos p {
  margin-left: 1.3em;
}
#objetivos div {
  max-width: 380px;
}
#objetivos div ul {
  padding-right: 2em;
}
#objetivos div ul li {
  padding-top: 0.6em;
  padding-bottom: 0.6em;
  font-size: 1em;
  font-size: 13px;
}
#objetivos img {
  max-height: 215px;
  margin-top: 1em;
  margin-bottom: 1em;
}


#actividades {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
}
#actividades ul {
  padding-right: 2em;
}
#actividades ul li {
  padding: 0.6em;
}
#actividades img {
  margin-top: 1em;
  margin-bottom: 1em;
  max-height: 330px;
}


#estructura {
  margin-top: 2em;
  margin-left: 20px;
}
#estructura h3 {
  font-size: 13px;
}
#estructura ul li {
  font-size: 13px;
}


#DivIntro {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

#DivIntro img {
  max-height: 150px;
  margin-right: 1em;
}

#intro {
  max-width: 500px;
  margin-top: 1em;
  font-size: 1.3em;
  padding-left: 0.9em;
  padding-right: 0.9em;
}

/* Estilos para pantallas grandes */
@media (min-width: 560px) {
  .container {
    width: 1200px;
    padding-left: 1em;
    padding-right: 1em;
    margin-left: auto;
    margin-right: auto;
  }

  header {
    align-items: center;
    padding: 1em;
  }

  nav > label {
    display: none;
  }

  #menu {
    display: flex;
    max-height: none;
    padding-top: 0.5em;
  }

  #menu > li {
    display: inline-block;
    padding: 0 1em;
    border: none;
    border: 1px black;
    border-style: dotted dotted none none;
    
    background-color: rgba(111, 108, 108, 0.139);
  }

  #menu > li:last-child {
    border: 1px #5d5d5d;
    border-style: dotted none none none;
  }

  #banner img {
    width: 100%;
  }

  #DivIntro {
    flex-direction: row;
  }
  #intro {
    padding: 0;
  }

  #estructura {
    margin-left: 30px;
  }

  #actividades {
    flex-direction: row;
    margin-left: 60px;
    width: 70em;
  }
  #actividades ul {
    padding-right: 0;
  }
  #actividades ul li {
    padding: 1em;
  }
  #actividades img {
    margin-left: 30px;
    max-height: 325px;
    margin-top: 0;
    margin-bottom: 0;
  }

  #objetivos {
    flex-direction: row;
    margin-left: 30px;
  }
  #objetivos div {
    max-width: 580.7px;
  }
  #objetivos div ul li {
    padding: 0.5em;
    font-size: 14px;
  }
  #objetivos img {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 30px;
    max-height: 350px;
  }

  #conocenos {
    flex-direction: row;
    margin-left: 60px;
  }
  #conocenos div {
    padding: 0;
  }
  #conocenos img {
    margin-left: 30px;
    max-height: 350px;
    margin: 0;
  }
}
